{
    "debug": true,
    "redis": {
        "host": "localhost",
        "port": 6379,
        "db": 0,
        "password": "",
        "tenyksChannel": "tenyks.robot.broadcast",
        "serviceChannel": "tenyks.service.broadcast"
    },
    "connections": [
        {
            "name": "localhost",
            "host": "localhost",
            "port": 6667,
            "retries": 5,
            "floodProtection": true,
            "password": "",
            "nicks": ["tenyks"],
            "ident": "tenyks",
            "realname": "Tenyks Botson",
            "commands": [],
            "admins": ["kyle"],
            "channels": ["#tenyks"],
            "ssl": false
        }
    ],
    "Control": {
        "Enabled": true,
        "Bind": ":12666"
    },
    "logLocation": "stdout"
}
